<div class='header-top'>
    <div class='container'>
        <div class="header">
            <img src='images/logo.png' class='logo'>
            <div class='register'><button (click)='register()' class='register'>REGISTER</button></div>
            <table class='header-contact'>
                <tr>
                    <img src='images/header-contact.jpg' class='contact-logo'>
                    <td class='header-contact-phone'><a class='header-contact-phone'>010 000 000</a></td>
                </tr>
                <tr>
                    <td class='header-contact-label'>Wechat <i class='fa fa-wechat'></i></td>
                    <td class='header-contact-wechat'>gold4u</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class='nav-top'>
    <div class='container'>
        <div class='nav'>
            <ul class='nav' id='nav'>
                <a href='.html'><li class='nav active'>HOME</li></a>
                <li class='nav '>LIVE CASINO
                    <ul>
                        <a href='rollex.html'><li>Rollex Casino</li></a>
                        <a href='lpe88.html'><li>Lucky Palace Casino / LPE88</li></a>
                        <a href='12win.html'><li>12Win Casino</li></a>
                        <a href='newtown.html'><li>Newtown Casino</li></a>
                        <a href='crown.html'><li>Crown</li></a>
                        <a href='leocity88.html'><li>Leocity88</li></a>
                        <a href='s8star.html'><li>S8Star Casino</li></a>
                        <a href='touch2bet.html'><li>Touch2Bet</li></a>
                    </ul>
                </li>
                <li class='nav '>SLOT GAME
                    <ul>
                        <a href='scr888.html'><li>SCR888 <span class='hot'>HOT !</span></li></a>
                        <a href='clubsuncity.html'><li>ClubSuncity</li></a>
                        <a href='playboy888.html'><li>Playboy888</li></a>
                        <a href='gw99.html'><li>GW99 / P2P</li></a>
                        <a href='rich96.html'><li>Rich96</li></a>
                        <a href='3win8.html'><li>3WIN8 <span class='new'>NEW !</span></li></a>
                        <a href='richman888.html'><li>Richman888</li></a>
                        <a href='samsung88.html'><li>SAMSUNG88</li></a>
                        <a href='isky888.html'><li>iSKY888</li></a>
                     <!--   <a href='rmc88'><li><i class='fa fa-close close'></i> Rich Man Club / RMC88</li></a>  -->
                    </ul>
                </li>
                <li class='nav '>MULTI GAMING
                    <ul>
                        <a href='naga.html'><li>NAGA Gaming / 金龙鱼</li></a>
                        <a href='mg92.html'><li>Happy Fish / 渔乐世界</li></a>
                        <a href='gg626.html'><li>GG Gaming</li></a>
                        <a href='mlypoker.html'><li>MLY Poker</li></a>
                    </ul>
                </li>
                <a href='download.html'><li class='nav '>DOWNLOAD</li></a>
                <a href='banking.html'><li class='nav '>BANKING</li></a>
                <a href='contact-us.html'><li class='nav '>CONTACT US</li></a>
            </ul>
        </div>
    </div>
</div>

<div class='container'>
    <div class='announcement'>
        <div class='date_time'><i class='fa fa-clock-o'></i> <span id='date_time'></span></div>
        <div class='announcement-msg'><p class="marquee">Welcome to Gold 4 U Online Casino.</p></div>
    </div>
</div>