<div class='header-top'>
    <div class='container'>
        <div class="header">
            <img src='images/logo.png' class='logo'>
            <div class='register'><button (click)='register()' class='register'>REGISTER</button></div>
            <table class='header-contact'>
                <tr>
                    <img src='images/header-contact.jpg' class='contact-logo'>
                    <td class='header-contact-phone'><a class='header-contact-phone'>010 000 000</a></td>
                </tr>
                <tr>
                    <td class='header-contact-label'>Wechat <i class='fa fa-wechat'></i></td>
                    <td class='header-contact-wechat'>gold4u</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class='nav-top'>
    <div class='container'>
        <div class='nav'>
            <ul class='nav' id='nav'>
                <a routerLink="/"><li class='nav'>HOME</li></a>
                <li class='nav '>LIVE CASINO
                    <ul>
                        <a routerLink="/rollex"><li>Rollex Casino</li></a>
                        <a routerLink="/lpe88"><li>Lucky Palace Casino / LPE88</li></a>
                    </ul>
                </li>
                <li class='nav '>SLOT GAME
                    <ul>
                        <a routerLink="/scr888"><li>SCR888</li></a>
                        <a routerLink="/suncity"><li>ClubSuncity</li></a>
                        <a routerLink="/play8oy"><li>Play8oy Casino</li></a>
                        <a routerLink="/3win8"><li>3Win8</li></a>
                     <!--   <a href='rmc88'><li><i class='fa fa-close close'></i> Rich Man Club / RMC88</li></a>  -->
                    </ul>
                </li>

                <a routerLink="/download"><li class='nav '>GAMING TIPS</li></a>
                <a routerLink="/download"><li class='nav '>DOWNLOAD</li></a>
                <a routerLink="/banking"><li class='nav '>BANKING</li></a>
                <a routerLink="/contactus"><li class='nav '>CONTACT US</li></a>
            </ul>
        </div>
    </div>
</div>

<div class='container'>
    <div class='announcement'>
        <div class='date_time'><time></time> <span id='date_time'></span></div>
        <div class='announcement-msg'><p class="marquee">Welcome to Gold 4 U Online Casino.</p></div>
    </div>
</div>



      