<div class='footer-nav-top'>
    <div class='container'>
        <div class='footer-nav'>
            <p class='footer-nav'>Copyright &copy; 2016 www.gold4you.com All right reserved.</p>
        </div>
    </div>
</div>

<div class='footer-top'>
    <div class='container' style='border-bottom: 1px dotted #999;height:250px'>
        
        <div class='footer'>
            <h1 class='footer'>PLAYTECH</h1>
            <p class='footer'>Playtech provides more than 100 traditional Casino games for you. For Live Games, we offer Live Baccarat, Live Roulette, Live Blackjack, Live Sic Bo, Live Mahjong and Pai Gow. Experience the action in Vegas while sitting at the comfort of your homes!</p>
            
            <h1 class='footer'>SCR888</h1>
            <p class='footer'>SCR888 provides classic Casino Slot games for you.</p>
        </div>
        
        <div class='footer'>
            <h1 class='footer'>CLUBSUNCITY</h1>
            <p class='footer'>ClubSunCity also known as Suncity, provides various interesting and exciting games which include slot casino games, casino table games, and much more famous games such as monkey story, racing machine, fish-catching game etc. Now also available for android devices.</p>

        </div>
        
        <div class='footer'>
            <h1 class='footer'>RESPONSIBLE GAMING</h1>
            <p class='footer'>We strives to provide a channel of entertainment to our customer in a positive way. We have in place major safeguards to promote and ensure responsible gambling.</p>
        
            <h1 class='footer'>SECURITY</h1>
            <p class='footer'>A Solid and Secure Betting System. The privacy of your into is important to us and we adhere to strict confidentiality and privacy policies.</p>
        </div>
        
        <div class='footer'>
            <h1 class='footer'>HELP CENTRE</h1>
            <p class='footer'>Check out our FAQ page for sports betting and gaming help. It contains help on account opening, deposit, withdrawal and technical help.</p>
        
            <h1 class='footer'>CONTACT US</h1>
            <p class='footer'>You need any help or have any questions about Live betting or our casino games, we are available 24/7 via Live Chat, Telephone and E-mail.</p>
        </div>

    </div>
</div>

<div style='background:#000;'>
    <div class='container' style='padding:20px 0;'>
        <img src='img/banks.png'>
    </div>
</div>