<div class='container'>
    <div class='product' style='height: 650px;'>
        <img class='product-logo' src='images/logo_clubsuncity.png' alt='ClubSuncity Logo'>
        <a target='_blank' href='https://clubsuncity.com/installer/Download/ClubSunCity_Full.html'><button class='product'><i class='fa fa-windows'></i> Windows Download</button></a>
        <a target='_blank' href='http://54.251.36.117/IGLobbyMobile/ClubSunCity.apk'><button class='product'><i class='fa fa-android'></i> Android Download</button></a>
        <a target='_blank' href='https://www.clubsuncity.com/Installer/Download/ClubSunCity_iOS.html'><button class='product'><i class='fa fa-apple'></i> Apple iOS Download</button></a>
        
        <h1 class='product'>Club Sun City </h1>
        
        <img class='product-image' src='images/img_clubsuncity_1.jpg' alt='ClubSuncity Image 1'>
        <img class='product-image' src='images/img_clubsuncity_2.jpg' alt='ClubSuncity Image 2'>
        
        <h2 class='product'>Club Suncity</h2>
        <p class='product'>ClubSuncity, also known as Suncity Casino, provides various interesting and exciting games which include slot casino games, casino table games, and much more famous games such as monkey story, racing machine, fish-catching game etc. Now also available for android devices. </p>
        
        <p class='product'>ClubSuncity Casino is an online casino provider with a strong and consistent player following in Malaysia. ClubSuncity Casino largely owes its popularity to its immense catalogue of games that its players can choose from, and these include a range of popular online slot games that are as engaging as they are addictive. To satisfy the needs of the market, ClubSuncity Casino has also developed games that can be supported on Android devices and not just on PC, so players can get the best of both worlds. Also offering attractive promotions, ClubSuncity Casino is a top choice amongst Malaysian online casino players.</p>
        
        <p class='product'><i>Visit official page for more detail. <a target='_blank' class='product' href='https://www.clubsuncity.com/installer'><u>https://www.clubsuncity.com/installer</u></a></i></p>
    </div>
</div>