<div class='contact-top'>
    <div class='container' style='height:470px;'>
    
        <div class='contact-i'>
        
            <h1 class='contact'>Contact Detail</h1>
            <table class='contact-i'>
                <tr>
                    <td class='contact-icon'><i class='fa fa-phone'></i></td>
                    <td class='contact-i'>010 0000 000</td>
                </tr>
                <tr>
                    <td class='contact-icon'><i class='fa fa-whatsapp'></i></td>
                    <td class='contact-i'>010 0000 000</td>
                </tr>
                <tr>
                    <td class='contact-icon'><i class='fa fa-wechat'></i></td>
                    <td class='contact-i'>gold4u</td>
                </tr>
                <tr>
                    <td class='contact-icon'><i class='fa fa-facebook-square'></i></td>
                    <td class='contact-i'>fb/gold4u88</td>
                </tr>
                <tr>
                    <td class='contact-icon'><i class='fa fa-at'></i></td>
                    <td class='contact-i'>gold4u.casino@gmail.com</td>
                </tr>
            </table>
        </div>
        
        <div class='contact'>
            <h1 class='contact'>Contact Us</h1>
            <h2 class='contact'>24/7 Customer Support</h2>
            <p class='contact'>For any questions related to opening an account, funding your account, wagering or current promotions, feel free to contact us.</p>
            <p class='contact'>Please provide us with the detailed description of your problem, so that we can offer you the best service possible. If you are a registered player, please provide us with your Username.</p>
            <p class='contact'>See below the different ways you can contact us.</p>
            
            <h2 class='contact'>Live Chat Help</h2>
            <p class='contact'>We have the ability to chat to you instantly over the Net. We are here right now to answer your query, via our Live Chat Help facility.</p>
            
            <h2 class='contact'>Telephone</h2>
            <p class='contact'>We also have the following numbers if you wish to call us, at any time. Please have your account number to hand so that we can help you as quickly as possible. (International Call Charges May Apply)</p>
            
            <h2 class='contact'>WeChat Friendly Support</h2>
            <p class='contact'>You may add our WeChat to stay in touch with us regarding upcoming promotions & events as well as solving your problems/enquiries.</p>
        </div>

    </div>
</div>