<div class='container'>
    <div class='banking'>
        <h1 class='banking'>Download</h1>
        
        <table class='download'>
            <thead>
                <tr>
                    <th class='download' style='width:100px;'>Game</th>
                    <th class='download' style='width:300px;'><i class='fa fa-windows' style='margin:0 5px;'></i> Windows Download</th>
                    <th class='download' style='width:300px;'><i class='fa fa-android' style='margin:0 5px;'></i> Android Download</th>
                    <th class='download' style='width:300px;'><i class='fa fa-apple' style='margin:0 5px;'></i> iOS Download</th>
                </tr>
            </thead>
            <tbody>
                <tr class='download-i'>
                    <td class='download'><a class='download-g' href='rollex.html'>Rollex</a></td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://link.rollex11.com/'>http://link.rollex11.com/</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Mobile Live Download: <a class='download' target='_blank' href='http://m.gf175288.com/live/download.html'>http://m.gf175288.com/live/download.html</a></p>
                        <p class='download'>Mobile Slot Download: <a class='download' target='_blank' href='http://m.gf175288.com/download.html'>http://m.gf175288.com/download.html</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <i class='disable'>Not Available</i></p>
                    </td>
                </tr>
            
                <tr class='download-o'>
                    <td class='download'><a class='download-g' href='lpe88.html'>Lucky Palace / LPE88</a></td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://cdn.lpe88.com/setup.exe'>http://cdn.lpe88.com/setup.exe</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Mobile Live Download: <a class='download' target='_blank' href='http://m.ld176988.com/live/download.html'>http://m.ld176988.com/live/download.html</a></p>
                        <p class='download'>Mobile Slot Download: <a class='download' target='_blank' href='http://m.ld176988.com/download.html'>http://m.ld176988.com/download.html</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <i class='disable'>Not Available</i></p>
                    </td>
                </tr>
            
                <tr class='download-i'>
                    <td class='download'><a class='download-g' href='scr888.html'>SCR888</a></td>
                    <td class='download'>
                        <p class='download'>Download: <i class='disable'>Not Available</i></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://d21s4wfhz2259e.cloudfront.net/Install/SCR888_CasinoGame.apk'>http://d21s4wfhz2259e.cloudfront.net/Install/SCR888_CasinoGame.apk</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='itms-services_/index4e85.html?action=download-manifest&amp;url=https://m.scr888.com/ios/SCR888.plist'>itms-services://?action=download-manifest&url=https://m.scr888.com/ios/SCR888.plist</a></p>
                    </td>
                </tr>
            
                <tr class='download-o'>
                    <td class='download'><a class='download-g' href='rich96.html'>Rich96</a></td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://down.rich96.com/RICH96.exe'>http://down.rich96.com/RICH96.exe</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://down.rich96.com/RichGames96.apk'>http://down.rich96.com/RichGames96.apk</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='itms-services_/index502c.html?action=download-manifest&amp;url=https://ssl.rich96.com/app/qd.plist'>itms-services://?action=download-manifest&url=https://ssl.rich96.com/app/qd.plist</a></p>
                    </td>
                </tr>
            
                <tr class='download-i'>
                    <td class='download'><a class='download-g' href='gw99.html'>GW99 / P2P</a></td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='https://www.gw99.asia/Installer/Download/GreatWall99_Full.html'>https://www.gw99.asia/Installer/Download/GreatWall99_Full.html</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='https://www.gw99.asia/Installer/Download/P2P_APK.html'>https://www.gw99.asia/Installer/Download/P2P_APK.html</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='https://www.gw99.asia/Installer/Download/GreatWall99_iOS.html'>https://www.gw99.asia/Installer/Download/GreatWall99_iOS.html</a></p>
                    </td>
                </tr>
            
                <tr class='download-o'>
                    <td class='download'><a class='download-g' href='3win8.html'>3WIN8</a></td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://cdn.ispeedycdn.com/ed/3win8Kioskm30010062.exe'>http://cdn.ispeedycdn.com/ed/3win8Kioskm30010062.exe</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='http://cdn.ispeedycdn.com/ed/3win830010062.apk'>http://cdn.ispeedycdn.com/ed/3win830010062.apk</a></p>
                    </td>
                    <td class='download'>
                        <p class='download'>Download: <a class='download' target='_blank' href='itms-services_/index6d98.html?action=download-manifest&amp;url=https://ed.3win8.com/3win830010062.plist'>itms-services://?action=download-manifest&url=https://ed.3win8.com/3win830010062.plist</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>