<div class='container'>
    <div class='product' style='height: 650px;'>
        <img class='product-logo' src='images/logo_playboy888.png' alt='Playboy888 Logo'>
        <a target='_blank' href='https://playboy888.cc/Installer/Download/Play8oy_Full.html'><button class='product'><i class='fa fa-windows'></i> Windows Download</button></a>
        <a target='_blank' href='https://playboy888.cc/Installer/Download/Play8oy_APK.html'><button class='product'><i class='fa fa-android'></i> Android Download</button></a>
        <a target='_blank' href='https://playboy888.cc/Installer/Download/Play8oy_iOS.html'><button class='product'><i class='fa fa-apple'></i> Apple iOS Download</button></a>
        
        <h1 class='product'>Play8oy Casino</h1>
        
        <img class='product-image' src='images/img_playboy888_1.jpg' alt='Playboy888 Image 1'>
        <img class='product-image' src='images/img_playboy888_2.jpg' alt='Playboy888 Image 2'>
        
        <h2 class='product'>Playboy888</h2>
        <p class='product'>Play8oy, also known as Playboy888 Casino, provides various interesting and exciting games which include slot casino games, casino table games, and much more famous games such as monkey story, racing machine, fish-catching game etc. Now also available for android devices. </p>
        
        <p class='product'>Playboy888 Casino is an online casino provider with a strong and consistent player following in Malaysia. Playboy888 Casino largely owes its popularity to its immense catalogue of games that its players can choose from, and these include a range of popular online slot games that are as engaging as they are addictive. To satisfy the needs of the market, Playboy888 Casino has also developed games that can be supported on Android devices and not just on PC, so players can get the best of both worlds. Also offering attractive promotions, Playboy888 Casino is a top choice amongst Malaysian online casino players.</p>
        
        <p class='product'><i>Visit official page for more detail. <a target='_blank' class='product' href='https://www.playboy888.cc/installer'><u>https://www.playboy888.cc/installer</u></a></i></p>
    </div>
</div>