<div class='container'>
    <div class='product' style='height: 1100px;'>
        <img class='product-logo' src='images/logo_rollex.png' alt='Rollex Casino Logo'>
        <a href='http://link.rollex11.com/'><button class='product'><i class='fa fa-windows'></i> PC Version Download</button></a>
        <a target='_blank' href='http://m.gf175288.com/live/download.html'><button class='product'><i class='fa fa-android'></i> Mobile Live Download</button></a>
        <a target='_blank' href='http://m.gf175288.com/download.html'><button class='product'><i class='fa fa-android'></i> Mobile Slot Download</button></a>
        
        <h1 class='product'>Rollex Casino</h1>
        
        <img class='product-image' src='images/img_rollex_1.jpg' alt='Rollex Casino Image 1'>
        <img class='product-image' src='images/img_rollex_2.jpg' alt='Rollex Casino Image 2'>
        
        <h2 class='product'>No.1 in Asia with the most Trusted Reputation</h2>
        <p class='product'>Rollex Casino is Asia's pioneering online casino providing non-stop gaming and entertainment to hundreds of thousand players in the region. It has built itself its reputation as the industry leader in servicing players with a trustworthy, honest and reliable gaming experience, and excellence in customer care. With over 350 people in its 24/7 operations and support services, customers are guaranteed of a fun and satisfying casino gaming every time they Rollex Casino.</p>
        
        <h2 class='product'>Licensed in the Philippines</h2>
        <p class='product'>Licensed in the Philippines and regulated by CEZA and First Cagayan, Rollex Casino operates strictly within these regulations.</p>
        
        <h2 class='product'>Security</h2>
        <p class='product'>The security of our clients and the integrity of our casino are the fundamental drivers of the Rollex Casino and online gambling experience. We have the most advanced security measures available and are continually auditing our games and processes to ensure a totally safe and fair internet gambling experience.</p>
        
        <h2 class='product'>Fair Gaming</h2>
        <p class='product'>Rollex Casino is dedicated and purposed to operating a secure, honest and reputable gaming environment on the internet for our players. We ensure that all transactions and gaming are conducted with the utmost possible security, authenticity and scrutiny.</p>

        <p class='product'>Playtech N.V. hosts our gaming servers, and this thereby ensures fair casino gaming as we have no control whatsoever over the outcome of any game or of any result.</p>

        <p class='product'>As part of our commitment to fair gaming, our system allows players the opportunity to examine each and every result of their gaming history through a unique graphical record that shows the player's result and the dealer's result.</p>

        <p class='product'>A leading accounting firm has examined Playtech's casino gaming software and after testing millions of game rounds, their final analysis reported 100% random results. Furthermore, we also publish payout percentages on a monthly basis and the casino software is examined periodically by an independent third party accounting firm.</p>

        <p class='product'>Rollex Casino staff and employees, as well as that of Playtech N.V. are prohibited from playing on any jackpot or progressive game with real money. They are also not permitted to enter any promotion, draw or competition offered by the casino. This policy is enforced to ensure that jackpot payouts and promotional prizes cannot be won by the House.</p>
        
        <h2 class='product'>More than 100 Casino Games for You</h2>
        <p class='product'>Rollex Casino provides more than 100 traditional Casino games for you. For Live Games, we offer Live Baccarat, Live Roulette, Live Blackjack, Live Sic Bo, Live Mahjong and Pai Gow. Experience the action in Vegas while sitting at the comfort of your homes!</p>
        
        <p class='product'><i>Visit official page for more detail. <a target='_blank' class='product' href='http://m.rollex11.com/'><u>http://m.rollex11.com/</u></a></i></p>
    </div>
</div>