<div class='container'>
    <div class='product' style='height: 650px;'>
        <img class='product-logo' src='images/logo_3win8.png' alt='3win8 Logo'>
        <a target='_blank' href='http://cdn.ispeedycdn.com/ed/3win8Kioskm30010062.exe'><button class='product'><i class='fa fa-windows'></i> Windows Download</button></a>
        <a target='_blank' href='http://cdn.ispeedycdn.com/ed/3win830010062.apk'><button class='product'><i class='fa fa-android'></i> Android Download</button></a>
        <a target='_blank' href='itms-services_/index6d98.html?action=download-manifest&amp;url=https://ed.3win8.com/3win830010062.plist'><button class='product'><i class='fa fa-apple'></i> Apple iOS Download</button></a>
        
        <h1 class='product'>3WIN8</h1>
        
        <img class='product-image' src='images/img_3win8_1.jpg' alt='3WIN8 Image 1'>
        <img class='product-image' src='images/img_3win8_2.jpg' alt='3WIN8 Image 2'>
        
        <h2 class='product'>From SKY3888 company.</h2>
        <p class='product'>In 3WIN8 casino, 3WIN8 will present you a fabulous revolutionary new online gaming experience, 3WIN8 not only offer slot machines game for you, but 3WIN8 also provide you with latest online casino games, such as roulette, baccarat, blackjack, sic bo, casino hold'em, banker player and dragon tiger. Thanks to the 3WIN8 casino and its software developers, they have to make a way for players to enjoy casino games on their smartphones and tablets. The games visuals and sounds are just suitable for electronic gadgets, and give out the best mobile gaming experience, like no other. Players interested in playing casino table games are more than welcome to. </p>
        <p class='product'>There are three main slot games classes at 3WIN8 casino: video slots, classic reels, progressive jackpots; all of which have unique and distinct features and mechanics that can win players prizes in the most exciting ways. 3WIN8 are programmed with simple yet breath-taking animations that match the games, high-definition graphics. Themes and concepts found on 3WIN8 mobile casino slot games are for all legal gaming ages, for all hobbies and interests. However, visuals, graphics and animations are not the only keys to success for 3win8 casino slots.</p>
        
        <p class='product'><i>Visit official page for more detail. <a target='_blank' class='product' href='https://m.3win8.com/'><u>https://m.3win8.com/</u></a></i></p>
    </div>
</div>