<div class='container'>
    <div class='product' style='height: 650px;'>
        <img class='product-logo' src='images/logo_scr888.png' alt='SCR888 Logo' style='height:100;width:160;'>
        <a target='_blank' href='http://d21s4wfhz2259e.cloudfront.net/Install/SCR888_CasinoGame.apk'><button class='product'><i class='fa fa-android'></i> Android Download</button></a>
        <a target='_blank' href='itms-services_/index4e85.html?action=download-manifest&amp;url=https://m.scr888.com/ios/SCR888.plist'><button class='product'><i class='fa fa-apple'></i> Apple iOS Download</button></a>
        
        <h1 class='product'>SCR888</h1>
        
        <img class='product-image' src='images/img_scr888_1.jpg' alt='SCR888 Image 1'>
        <img class='product-image' src='images/img_scr888_2.jpg' alt='SCR888 Image 2'>
        
        <h2 class='product'>Top Malaysia Classic Slots And Games</h2>
        <p class='product'>SCR888 Casino Malaysia has been a great success in the Malaysia market. In the previous post, we had shared the iOS download method for Apple users. Due to strong market demand, we are sharing the new iOS and Android download link with all casino players today.</p>
        
        <p class='product'>Casino players have been winning great rewards from SCR888 from time to time. Some of the highly recommended games include the Highway Kings, Bonus Bears, Great Blue, Captain Treasure and Monkey Thunderbolt. It is about time you give it a try as well.</p>
        
        <p class='product'><i>Visit official page for more detail. <a target='_blank' class='product' href='http://m.scr888.com/'><u>http://m.scr888.com/</u></a></i></p>
    </div>
</div>