<div class='container'>
    <div class='banking'>
        <h1 class='banking'>Banking</h1>
        <p class='banking'>You are advised to contact our customer service after you have successfully completed your deposit.</p>
        
        <table class='banking'>
            <thead>
                <tr>
                    <th class='banking'>Transaction</th>
                    <th class='banking'>Banking Method</th>
                    <th class='banking'>Transaction Limit (MYR)</th>
                    <th class='banking'>Processing Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='banking'>Deposit</td>
                    <td class='banking'>ATM / Online Transfer</td>
                    <td class='banking'>Min: 10.00 / Max: 2,000.00</td>
                    <td class='banking'>Within 5 Minutes</td>
                </tr>
                <tr>
                    <td class='banking'>Quick Withdrawal</td>
                    <td class='banking'>Online Transfer</td>
                    <td class='banking'>Min: 10.00 / Max: 5,000.00</td>
                    <td class='banking'>Within 30 Minutes</td>
                </tr>
                <tr>
                    <td class='banking'>Big Win Withdraw</td>
                    <td class='banking'>Local Bank Banking</td>
                    <td class='banking'>Min: 5,001.00 / Max: 30,000.00</td>
                    <td class='banking'>Within 1 Days (Bank Working Day)</td>
                </tr>
                <tr>
                    <td class='banking'>Progressive Withdraw</td>
                    <td class='banking'>Local Bank Banking</td>
                    <td class='banking'>Min: 5,001.00 / Max: 100,000.00</td>
                    <td class='banking'>Within 1 Days (Bank Working Day)</td>
                </tr>
            </tbody>
        </table>
        
        <h2 class='banking'>Important Notes: </h2>
        <ul class='banking'>
            <li class='banking'>The above mentioned processing times will only come into effect the moment we receive and verify your transaction request.</li>
            <li class='banking'>If you have any outstanding bonuses on your account you may not be able to withdraw until you meet the terms of that bonus.</li>
            <li class='banking'>We will not be responsible for any figure loss caused by network problem or technical issue.</li>
            <li class='banking'>Unlimited withdraw order.</li>
            <li class='banking'>Jackpot or progressive win payout limit is MYR100,000. If you win the jackpot or progressive exceeds the limit, the extra balance will be deducted.</li>
            <li class='banking'>Slot game maximum payout limit is MYR20,000 per spin with total bonus or total free spin. If you win the slot per spin with total bonus or total free spin exceeds the limit, the extra balance will be deducted.</li>
            <li class='banking'>Maximum payout is MYR30,000 if your balance over MYR30,000. We will withdraw all balance from your account and pay the maximum limit for you.</li>
            <li class='banking'>Maximum payout for SCR888 is MYR 10,000. The extra balance will be deducted.</li>
        </ul>
    </div>
</div>