    

        <div class='container' style='height:460px'>
    <div class='detail'>
        <div class='detail-result'>
            <h1 class='detail-game'>GAME AVAILABLE</h1>
            <p class='detail-i'>3WIN8</p>
            <p class='detail-o'>Rollex Casino</p>
            <p class='detail-i'>Lucky Palace Casino</p>
            <p class='detail-o'>SCR888</p>
            <p class='detail-i'>GW99 / P2P</p>
            <p class='detail-o'>Rich96</p>
        </div>
        
        <div class='detail-result'>
            <h1 class='detail-bank'>BANK AVAILABLE</h1>
            <p class='detail-i'>Maybank</p>
            <p class='detail-o'>CIMB</p>
            <p class='detail-i'>Public Bank</p>
            <p class='detail-o'>BSN</p>
        </div>
    </div>
    <div class='category'>
        <a href='rollex.html'><img class='category' src='images/category_01.jpg' alt='Rollex Download'></a>
        <a href='3win8.html'><img class='category' src='images/category_02.jpg' alt='3Win8 Download'></a>
        <a href='rich96.html'><img class='category' src='images/category_03.jpg' alt='Rich96 Download'></a>
        <a href='gw99.html'><img class='category' src='images/category_04.jpg' alt='P2P GW99 Download'></a>
        <a href='scr888.html'><img class='category' src='images/category_05.jpg' alt='SCR888 Download'></a>
        <a href='lpe88.html'><img class='category' src='images/category_06.jpg' alt='LPE88 Download'></a>
    </div>
</div>