    

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 980px; height: 280px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 980px; height: 280px; overflow: hidden;">
        <div data-p="112.50" style="display: none;">
            <img data-u="image" src="images/banner_01.jpg" alt="SCR888 Casino" />
        </div>
        <div data-p="112.50" style="display: none;">
            <img data-u="image" src="images/banner_02.jpg" alt="Great Wall 99 / GW99 / P2P" />
        </div>
        <div data-p="112.50" style="display: none;">
            <img data-u="image" src="images/banner_03.jpg" alt="Rollex Casino - Playtech Platform" />
        </div>

        <div data-p="112.50" style="display: none;">
            <img data-u="image" src="images/banner_04.jpg" alt="3WIN8 Casino - SKY3888" />
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;">
        <div data-u="prototype" style="width:12px;height:12px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora05l" style="top:0px;left:8px;width:40px;height:40px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora05r" style="top:0px;right:8px;width:40px;height:40px;" data-autocenter="2"></span>
</div>



<div class='container' style='height:460px'>
    <div class='detail'>
        <div class='detail-result'>
            <h1 class='detail-game'>GAME AVAILABLE</h1>
            <p class='detail-i'>3WIN8</p>
            <p class='detail-o'>Rollex Casino</p>
            <p class='detail-i'>Lucky Palace Casino</p>
            <p class='detail-o'>SCR888</p>
            <p class='detail-i'>ClubSunCity</p>
            <p class='detail-o'>Play8oy Casino</p>
        </div>
        
        <div class='detail-result'>
            <h1 class='detail-bank'>BANK AVAILABLE</h1>
            <p class='detail-i'>Maybank</p>
            <p class='detail-o'>CIMB</p>
            <p class='detail-i'>Public Bank</p>
            <p class='detail-o'>Hong Leong Bank</p>
        </div>
    </div>
    <div class='category'>
        <a routerLink="/rollex"><img class='category' src='images/category_01.jpg' alt='Rollex Download'></a>
        <a routerLink="/3win8"><img class='category' src='images/category_02.jpg' alt='3Win8 Download'></a>
        <a routerLink="/suncity"><img class='category' src='images/category_03.jpg' alt='ClubSunCity Download'></a>
        <a routerLink="/play8oy"><img class='category' src='images/category_04.jpg' alt='Play8oy Download'></a>
        <a routerLink="/scr888"><img class='category' src='images/category_05.jpg' alt='SCR888 Download'></a>
        <a routerLink="/lpe88"><img class='category' src='images/category_06.jpg' alt='LPE88 Download'></a>
    </div>
</div>